<p><%= link_to "#{@department.short_name}: #{@department.subject}", @department %></p>
<h1>
  <span class="label label-default"><%= @paper.reference %></span>
  <%= @paper.title %>
</h1>
<p>
  Ausarbeitung vom <%= time_tag(@paper.created_at, l(@paper.created_at))%>, <%= @paper.page_count || '?' %> Seiten
</p>
<p class="text-right">
  <%= link_to 'Download', @paper.url, class: 'btn btn-primary btn-lg' %>
</p>

<iframe src="<%= @paper.url %>" width="100%" height="650px"></iframe>

<!-- Paper/<%= @paper.id %> -->