<p>
  Der Bundestag hat versprochen, tausende Gutachten seines Wissenschaftlichen Dienstes zu veröffentlichen. Etwa <%= number_with_delimiter @count %> Gutachten sind bereits auf der <a href="http://bundestag.de/ausarbeitungen/">Bundestags-Website</a> online.
</p>
<p>
  Allerdings sind die Daten noch nicht aufbereitet. Um sie für die Öffentlichkeit nutzbar zu machen, müssen sie strukturiert und einfach durchsuchbar sein.
</p>
<p>
  Dafür gibt es diese Website! Mit einem Klick kannst du hier alle bisher vom Bundestag veröffentlichten Gutachten nach Titel und Inhalt durchsuchen und herunterladen. Versuch es zum Beispiel mit Gutachten zum Thema <%= link_to 'Terrorismus', search_path(q: 'Terrorismus') %> oder <%= link_to 'TTIP', search_path(q: 'TTIP') %>.
</p>
<p>
  <a href="http://blog.fragdenstaat.de/2016/fragdenbundestags-erfolg/">Erfahre hier, warum der Bundestag seine Gutachten herausgibt.</a>
</p>

<div class="search-block">
  <form action="/search" method="get" role="search" class="search">
    <p><label for="searchq" class="tagline">Suche in über <%= number_with_delimiter @count %> Gutachten:</label></p>
    <div class="input-group">
      <input type="text" id="searchq" name="q" class="form-control" />
      <span class="input-group-btn">
        <button class="btn btn-brand" type="submit">Suchen</button>
      </span>
    </div>
  </form>
</div>

<p class="pull-right">
  <%= link_to recent_url(format: :atom), class: 'feed', title: "Neue Gutachten als Atom-Feed abonnieren" do %>
    <span class="sr-only">Neue Gutachten als Atom-Feed abonnieren:</span><%= image_tag('feed-icon.svg', class: 'feed-icon', alt: 'Atom-Feed') %>
  <% end %>
</p>
<h3>Wissenschaftliche Dienste des Bundestags:</h3>

<div class="container-fluid">
  <ul class="row department-list">
    <%
      @departments.each do |department|
        icon = department.short_name.downcase
    %>
    <li class="col-sm-3">
      <%= link_to department do %>
        <img src="<%= asset_path("icons/#{icon}.svg") %>" alt="<%= department.short_name %>"/>
        <span><%= department.subject %></span>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>