<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="UTF-8" />
  <%= title site: 'sehrgutachten', separator: '—', reverse: true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= tag 'link', href: opensearch_path, rel: 'search', type: 'application/opensearchdescription+xml', title: 'sehrgutachten Suche' %>
</head>

<body>
<header class="navbar navbar-static-top" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="<%= root_url %>" class="navbar-brand" data-no-turbolink='true'><em>sehr</em>gutachten</a>
    </div>

    <% if display_header_search? %>
    <form class="navbar-form navbar-left search search--navbar" role="search" action="/search" method="get" class="search">
      <label for="searchq" class="sr-only">Suche in Gutachten:</label>
      <div class="input-group">
        <input type="search" id="searchq" name="q" class="form-control search-input"/>
        <span class="input-group-btn">
          <button class="btn btn-brand" type="submit">Suchen</button>
        </span>
      </div>
    </form>
    <% end %>
  </div>
</header>

<main>
  <div class="container">
    <%= yield %>
  </div>
</main>

<footer class="app-footer container">
  <div class="row">
    <div class="col-md-10 footer-project-line">
      <p>sehrgutachten ist ein gemeinnütziges Projekt der <a href="https://okfn.de">Open Knowledge Foundation Deutschland e.V.</a></p>
    </div>
    <div class="col-md-2 col-xs-6 footer-support-logo">
      <a href="https://okfn.de"><img src="<%= image_url 'okfn-logo.svg' %>" alt="Open Knowledge Foundation Deutschland e.V." role="presentation" /></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <nav class="footer-links">
        <ul>
          <li><%= link_to 'Kontakt & Impressum', imprint_path %></li>
          <li><a href="https://twitter.com/fragdenbt">@FragDenBT auf Twitter</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-sm-6">
      <nav class="footer-links footer-related">
        <ul>
          <li><a href="https://fragdenstaat.de">FragDenStaat.de</a></li>
          <li><a href="https://kleineanfragen.de">kleineAnfragen.de</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<%= javascript_include_tag 'enhance', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
<%= render partial: 'site/tracking' -%>
</body>
</html>